.root {
  background-color: #f9f9f9;
}
.frame {
  /*display: flex;*/
  display: inline-block;
  flex-direction: column;
  border-radius: 13px;
  background-color: #efeff5;
}

.center {
  margin: 15px 50px;
}

.flexDiv {
  margin-top: 50px;
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entwicklungsBogenButton {
  background-color: #00a8e1 !important;
}

.crossButton {
  color: #d32f2e !important;
}
