.Modal {
  display: none;
  height: 80%;
  width: 80%;
  background-color: #d32f2e;
  left: 20%;
  position: fixed;
  top: 20%;
}

.ModalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
}
