.App {
  text-align: center;
  background-color: #f9f9f9;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert {
  background-color: #d32f2e !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
