.App {
  text-align: center;
  background-color: #f9f9f9;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.snackbar {
  right: auto !important;
  bottom: 0 !important;
  margin: 20px !important;
}

.alert-message {
  display: flex;
  align-items: center;
}

.alert-icon {
  margin-right: 5px !important;
}

.alert-success {
  background-color: #43a047 !important;
}

.alert-danger {
  background-color: #d32f2e !important;
}
