.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  padding: 5px;
}

.header {
  height: 60px;
}

.emailForm {
  height: 65px;
  margin: 5px;
}

.passwordForm {
  height: 70px;
  margin: 5px;
}

.submitButton {
  margin: 5px;
}
