.root-user-administration {
}

.frameCenter {
  display: inline-block;
  flex-direction: column;
  border-radius: 13px;
  background-color: #efeff5;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

.add-user-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96.75%;
}

.add-user-button {
  background-color: #00a8e1 !important;
}
