.div-header {
  background-color: yellow;
  width: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#frame {
  border-radius: 13px;
  background-color: #efeff5;
  margin: 50px 50px 50px 50px;
  padding: 20px;
}
